@import 'loader.css';

html, body {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;
}

body {
	font-size: 16px;
	font-family: system-ui;

	color: #f8f8f2;
	background-color: #282a36;

	overflow: hidden;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.editor {
	width: 100%;
	height: 100%;
}
