@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import 'nav.css';
@import 'help.css';
@import 'panes.css';

body {
	font-family: 'Noto Sans', sans-serif;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.pageInner {
	position: fixed;
	top: 56px;
	left: 64px;
	bottom: 0;
	right: 0;
	display: flex;
	transition: 0.3s;
}

