.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	display: flex;
	align-items: center;
	font-size: 16px;
	background: #0b65e1;
	z-index: 900;
}

.nav-branding {
	height: 40px;
	margin-left: 8px;
}

.nav-branding-compass-needle {
	transform-origin: 24px 16px;
}

.nav-titleInput {
	height: 40px;
	margin-left: 8px;
	background: #094eAd;
	border: none;
	outline: none;
	font-size: unset;
	color: #fff;
	padding: 0 16px;
	border-radius: 4px;
}

.nav-titleInput::-webkit-input-placeholder {
	color: #639ef1;
	font-style: italic;
}

.nav-titleInput::-moz-placeholder {
	color: #639ef1;
	font-style: italic;
}

.nav-titleInput::-ms-input-placeholder {
	color: #639ef1;
	font-style: italic;
}

.nav-titleInput:-moz-placeholder {
	color: #639ef1;
	font-style: italic;
}

.nav-saveButton, .nav-shareButton {
	height: 40px;
	margin-left: 8px;
	background: #fff;
	border: none;
	outline: none;
	font-size: unset;
	color: #000;
	padding: 0 16px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.nav-userIcon {
	width: 40px;
	height: 40px;
	margin-left: auto;
	margin-right: 8px;
	border-radius: 4px;
	background: #094eAd;
	cursor: pointer;
	position: relative;
}

.nav-userIcon-img {
	width: inherit;
	height: inherit;
	border-radius: inherit;
}

.nav-userIcon-notificationCount {
	position: absolute;
	top: -24px; /* Initially off screen */
	right: -4px;
	width: 14px;
	height: 14px;
	background: #E1E10B;
	border-radius: 999px;
	border: 2px solid #0b65e1;
	transition: top 0.2s;
}

.nav-userIcon-notificationCount.visible {
	top: -4px;
}

.nav-userDropdown {
	position:absolute;
	right: 0;
	width: 300px;
	background: #fff;
	border-radius: 4px;
	cursor: auto;
	box-shadow: 0 2px 48px rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.2);
	transition: 0.15s;
	transform-origin: 100% 0;
}

.nav-userDropdown_hidden {
	opacity: 0;
	transform: scale(0.5);
}

.nav-userDropdown-accountLinks {
	padding: 8px;
	display: flex;
	align-items: center;
}

.nav-userDropdown-accountLinks-profile {
	color: #000;
	margin-left: 8px;
}

.nav-userDropdown-accountLinks-signOut {
	margin-left: auto;
	padding: 6px 12px;
	border: 1px solid #ddd;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
}

.notifications {
	padding-top: 12px;
	background: #eee;
	font-size: 14px;
	margin-bottom: 12px;
}

.notifications-header {
	font-weight: bold;
	padding: 0 16px;
	padding-bottom: 12px;
	border-bottom: 1px solid #ddd;
}

.notifications-notes {
	max-height: 280px;
	overflow-y: auto;
}

.notifications-notes-note {
	display: block;
	color: #333;
	padding: 8px 16px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

.notifications-notes-note:last-of-type {
	border-bottom: none;
}

.notifications-notes-note:hover {
	background: #e5e5e5;
}

.nav-userDropdown::before {
	display: block;
	content: " ";
	border: 12px solid transparent;
	border-bottom-color: rgba(0,0,0,0.2);
	width: 0;
	height: 0;
	position: absolute;
	top: -25px;
	right: 7px;
	pointer-events: none;
}

.nav-userDropdown::after {
	display: block;
	content: " ";
	border: 12px solid transparent;
	border-bottom-color: #fff;
	width: 0;
	height: 0;
	position: absolute;
	top: -24px;
	right: 7px;
	pointer-events: none;
}

