.gutter {
	background: #ddd;
	position: relative;
	border: 1px solid #bbb;
}
.gutter-horizontal {
	cursor: ew-resize;
	border-top: none;
	border-bottom: none;
	box-shadow: -1px 0 2px rgba(0,0,0,0.15);
}
.gutter-vertical {
	cursor: ns-resize;
	border-left: none;
	border-right: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.gutter::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #ddd;
	border-radius: 999px;
}
.gutter-horizontal::before {
	width: 12px;
	height: 28px;
	box-shadow: 1px 0 0 #bbb,
	            -1px 0 0 #bbb;
}
.gutter-vertical::before {
	width: 28px;
	height: 12px;
	box-shadow: 0 1px 0 #bbb,
	            0 -1px 0 #bbb;
}
.gutter::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid transparent;
}
.gutter-horizontal::after {
	width: 4px;
	height: 14px;
	border-left-color: #bbb;
	border-right-color: #bbb;
}
.gutter-vertical::after {
	width: 14px;
	height: 4px;
	border-top-color: #bbb;
	border-bottom-color: #bbb;
}
