.pane--light {
	background: #44475a;
}

.pane--left {
	border-right: 1px solid #44475a;
}

.gutter {
	background-color: #eee;

	background-repeat: no-repeat;
	background-position: 50%;

	&.gutter-horizontal {
		background-image: url('../img/grips/vertical.png');
		cursor: ew-resize;
	}

	&.gutter-vertical {
		background-image: url('../img/grips/horizontal.png');
		cursor: ns-resize;
	}
}

.split.split-horizontal, .gutter.gutter-horizontal {
	height: 100%;
	float: left;
}
