.toolbar {
	width: 100%;
	height: 56px;
	flex-grow: 0;
	flex-shrink: 0;
	background: var(--theme);

	display: flex;
	align-items: center;
}

.toolbar-logo {
	width: 56px;
	height: 40px;
	margin-left: 8px;
	background-image: url(../img/logo.svg);
}

.toolbar-titleInput {
	height: 40px;
	margin-left: 8px;
	background: var(--theme-dark);
	border: none;
	outline: none;
	font-size: unset;
	color: #fff;
	padding: 0 16px;
	border-radius: 4px;

	/* CSSNext doesn't make this easy :( */
	&::-webkit-input-placeholder {
		color: #fff8;
	}
	&::-moz-input-placeholder {
		color: #fff8;
	}
	&::-ms-input-placeholder {
		color: #fff8;
	}
}

.toolbar-saveButton,
.toolbar-shareButton {
	height: 40px;
	padding: 0 16px;
	margin-left: 8px;
	border-radius: 4px;
	background: #fff;
	color: #000;
	font-size: unset;
	border: none;
	outline: none;
	cursor: pointer;
}

.toolbar-titleInput:focus,
.toolbar-saveButton:focus,
.toolbar-shareButton:focus {
	box-shadow: 0 0 0 4px #fff2;
}
